h3{
    color: chocolate;
}

ul{
    color:chocolate
}

.primeiroparagrafo{
    
    color:chocolate
}
.tabela{
    color:chocolate
}

#oi{
    color: rgb(255, 0, 0);
}

header img{
    border-radius: 20px;

}

body {
  background-image: url(https://i.ytimg.com/vi/NtOwzU5Rpp8/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size:  cover;
}

.anside1
{
    color:chocolate
}

.links{
    color:chocolate
}

