body{
background-color: #2c3e50 
}

h1{
    color: cornsilk;
}

h3{
    color: yellow
}

li{
    color: white;
}

#astronomy-class{
color: red;
}

#activities{
    color: yellow;
}

#days-of-week{
    color: yellow;
}

h2{
    color: rgb(0, 0, 0);
    background-color: yellow;
    border: 2px solid;
}

h1{background-color: rgb(97, 97, 97); opacity: 2;}

body{background-image: url(https://conteudo.imguol.com.br/c/noticias/67/2020/01/31/astronauta-no-espaco-1580492800551_v2_1920x1078.jpg);
background-repeat: no-repeat; background-size: cover;
font-family: sans-serif;
}

.links{
    color: chocolate;
}